/* Card */
body {
  background-color: #1a3666;
box-sizing: border-box;
}
/* Header*/
.app-bar{
  background: '#1a3666';
  box-shadow: black;
}

.card--image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 6px;
  max-height: 160px;
}

h3 {
  margin: 0;
  font-size: 18px;
  color: #cad5e8;
}

p {
  margin: 5px;
  font-size: 14px;
  color: #eaeef5
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.card {
  top: 28%;
  transition: transform 0.2s ease;
  background-color: #0f2444;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  box-shadow: 0 6px 8px rgba(202, 201, 203, 0.879);
  height: 100%;
}


/* ...................... */

.Card-Box{
  position:absolute;
  top:12%;
  margin: 15px;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color:#cad5e8;
}
/* GenreFilter.css */

.genre-button {
  margin: 5px;
  color: #fff;
  border-color: #fff;
}

.Sort-button{
  margin: 5px;
  color: #fff;
  border-color: #fff;
  background-color: none;
}

/* SortBy .css */
.DropdownMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  /* Add some margin to create space between the filter and the cards */
}

.DropdownMenu {
  margin-right: 10px;
  
  /* Add some space between the select and input elements */
}

/*Search*/
.SearchContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.SearchIcon {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #888;
}